<div class="topnav">
  <a style="font-size: 30px; padding-left: 379px;">Uber</a>
  <a style="font-size: 20px; padding-top: 23px;">Ride</a>
  <a style="font-size: 20px; padding-top: 23px;">Drive</a>
  <a style="font-size: 20px; padding-top: 23px;">More</a>
  <a style="font-size: 20px; padding-top: 23px; float: right;" [routerLink]="['/']">Logout</a>
  <a style="font-size: 20px; padding-top: 23px; float: right; padding-right: 399px;" class="topnav a:hover">Sita</a>
  <a style="font-size: 20px; padding-top: 23px; float: right;">Help</a>
</div>
