<div class="divWalletFirst">
  <!--<div style="padding-right: 51.5px; padding-left: 51.5px;max-width: 1023px; margin-right: auto;margin-left: auto;box-sizing: border-box;">
    <div style="margin-right: 0;">
      <div style="-webkit-box-pack: center;justify-content: center;padding-bottom: 20px;    padding-top: 20px;">
      </div>
    </div>
  </div>-->
    <div style="padding-right: 51.5px; padding-left: 612.5px;max-width: 1023px; margin-right: auto;margin-left: auto;box-sizing: border-box; display: inline-flex;">
      <div style="order: 0; margin-bottom: 0px; padding-right: 12px; padding-left: 12px;margin-left: 0%;width: 35.333333%">
        <div style="-webkit-box-pack: center;justify-content: center;padding-bottom: 20px;padding-top: 20px;width: 271px;">
          <a style="color: #000000;    line-height: 32px;font-weight: 500;font-size: 24px;text-decoration: none; cursor: pointer;vertical-align: middle;"
             [routerLink]="['/wallet']">
            <span style="padding-bottom: 20px;padding-top: 20px;">
              Uber Wallet
            </span>
          </a>
        </div>
      </div>
      <div style="margin-left: 198%;width: 16.666666666668%;order: 0;margin-bottom: 0px;padding-right: 12px;padding-left: 12px;box-sizing: border-box;">
        <div style="-webkit-box-pack: center;justify-content: center;padding-bottom: 20px;padding-top: 20px;">
          <div style="-webkit-box-pack: end;justify-content: flex-end;-webkit-box-orient: horizontal;-webkit-box-direction: normal;
             flex-direction: row;cursor: pointer;">
            <div aria-label="Sita Patel" style="width: 32px;height: 32px;display: inline-block;border-bottom-left-radius: 50%;border-bottom-right-radius: 50%;
                    border-top-right-radius: 50%;border-top-left-radius: 50%;background-color: #E2E2E2;color: #000000;box-sizing: border-box;">
              <div style="-webkit-box-pack: center;justify-content: center;font-weight: normal;height: 100%;font-size: 16px;-webkit-box-align: center;align-items: center;line-height: 24px;color: #000000;
                  font-size: 18px;padding-top: 5px;padding-left: 3px;">
                SP
              </div>
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="divWalletSecond"></div>
